    *{
	margin: 0;
	padding: 0;
    }

    body {
	font-family:"微软雅黑";
	font-size: 30px;
    color:chocolate;
        background-color: #c0a16b;
    }

    #container {
	margin:0 auto;
	width:1200px;
    }
    #header {
	height:60px;
	margin-bottom:5px;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    }

    #chapter {
        height:40px;
        margin-bottom:5px;
        font-size: 35px;
        }

    #main{
	height:450px;
	/*background:#cff; */
   	margin-bottom:5px;
    }


    #description {
    font-size: 20px;
    float:left;
    width:590px;
	height:450px;
    margin-bottom: 5px;
    padding: 10px;
    border: 3px solid black;
         background-color: #c0a16b;
        word-wrap: break-word;
        word-break: break-all;
    }



    #hint {
        float:right;
        width:590px;
        height:450px;
        margin-bottom: 5px;
        padding: 10px;
        border: 3px solid black;
        display: none;
         background-color: #c0a16b;
        word-wrap: break-word;
        word-break: break-all;
        }

    #question {
        height:45px;
        text-align: center;
    }
    #input {
         background-color: #c0a16b;
    }


    #button {
        height:45px;
        text-align: center;
        }
